/* bases css */
@import 'fonts';
@import 'buttons';
@import 'colors';
@import 'mixins';


body{ width: 100%; 	height: 100%; padding: 0; margin:0; overflow-x: hidden; min-width: 320px;font-family: $base-font;font-size: 16px;line-height: 1.6;color: $text-color; background:#F1F1F1; display: flex; flex-direction: column;}

.wrapper{position: relative; display: flex; flex-direction: column; justify-content: space-between; height: 100%;}

.main{ flex-grow: 1; margin: 20px 0;}


a{text-decoration: none; color: inherit; transition: all .25s;
	&:hover, &:active, &:focus{	text-decoration: none; 	color: inherit;	outline: none;}
}

select, button, input{
	&:focus, &:active{outline: none;}
	
}
button, button:focus{ background: none; border: none;}

img{ max-width: 100%;}

ul{ margin: 0;padding: 0;}