/* buttons css */

.btn{
    box-shadow: inset 0 2px 2px rgba(255,255,255,.5);
    color: #fff;
    border: 1px solid #009dd7;
    background-color: #00baff;
    background: linear-gradient(to top,#0090ff,#00baff);
		text-align: center;	
		font-size: 16px;
    font-family: $font-bold;
		padding: 5px 0;
    letter-spacing: 1px;
    font-size: 14px;

		&:hover{
      color:#fff;
      box-shadow: inset 0 1px 2px rgba(255,255,255,.7);
        background: -webkit-linear-gradient(bottom, #0b7acd, #009dd7);
        background: -o-linear-gradient(bottom, #0b7acd, #009dd7);
        background: linear-gradient(to top, #0b7acd, #009dd7);
    }

		&--light{
			background: linear-gradient(to top,#fff,#e6e6e6);
	    color: #333;
      border: solid 1px #aaa;
      font-size: 13px;
      width: 120px;
      border-radius: 5px;

      &:hover{ background:inherit; color: #333;}
		}

    &--yellow{
      background-image: linear-gradient(to top,#f2b500,rgba(242,181,0,0));
      border: solid 1px #e6ae04;
      background-color: #fdf046;
      box-shadow: inset 0 2px 2px rgba(255,255,255,.7);
      color: #000;
      padding: 5px 25px;

      &:hover{
      background:inherit;
      color: inherit;
      }
    }

}