
$base-font: 'roboto', 'arial', sans-serif;
$font-bold: 'robotobold';
$font-black: 'robotoblack';
$font-italic: 'robotoitalic';
$font-light: 'robotolight';
$font-medium: 'robotomedium';
$font-thin: 'robotothin';

@include font-face("roboto", '../fonts/Roboto/roboto', $file-formats: eot woff ttf);
@include font-face("robotobold", '../fonts/Roboto/robotobold', $file-formats: eot woff ttf);
@include font-face("robotoblack", '../fonts/Roboto/robotoblack', $file-formats: eot woff ttf);
@include font-face("robotobold", '../fonts/Roboto/robotobold', $file-formats: eot woff ttf);
@include font-face("robotoitalic", '../fonts/Roboto/robotoitalic', $file-formats: eot woff ttf);
@include font-face("robotolight", '../fonts/Roboto/robotolight', $file-formats: eot woff ttf);
@include font-face("robotomedium", '../fonts/Roboto/robotomedium', $file-formats: eot woff ttf);
@include font-face("robotothin", '../fonts/Roboto/robotothin', $file-formats: eot woff ttf);
