

.item-card{
	background:#fff; margin-bottom: 25px; box-shadow: 0 2px 0 0 rgba(0,0,0,.1);display: flex; padding: 25px 25px;
}

.breadcrumb{
	font-size: 12px;
	display: flex;
	&__title{ color: $light-color; margin-right: 10px; margin-bottom: 15px;}
	&__links{
		@include menu;
		color: $accent-color;
		li{ margin-right: 15px; position: relative;}
		li a:hover{ text-decoration: underline;}
		li:after{
			@include pseudo($top: 0,  $right: -10px,  $bottom: auto,  $left: auto);
			content: '>';
		}
	}
}

.catalog-item-page{

	.card-head{	display: flex;}

	.card-head__img{
		max-width: 285px;	max-height: 285px;border: 1px solid $border-color;margin-right: 30px; position: relative;
		&:hover{			
			.fa{opacity: .5; transform: scale(1.2);}

		}
		.fa{
			position: absolute;			
			opacity: .2;
			font-size: 30px;
			bottom: 20px;
			left: 20px;
			transition: all .35s;
		}
	}	

	.card-head__title{font: 24px $font-medium;margin-bottom: 15px}
	.card-head__articul{ font-size: 12px; margin-bottom: 25px;
		span{
			color: $light-color; display: block;
			a{color: $accent-color; margin-left: 5px;}
		}

		.brand a:hover{color: $hover-color;}
	}

	.card-head__price{
		display: flex; justify-content: space-between;padding-bottom: 20px; margin-bottom: 20px;	border-bottom: 1px solid $border-color;
		span{display: block;}
	}

	.price-money,
	.price-quantity,
	.price-total{

		span{ font-size: 12px; color: $light-color; margin-bottom: 5px;}
		b{ font: 22px $font-medium;}
	}

	.price-total{ width: 115px;}

	.price-quantity{
		input{width: 100px; padding-left: 10px; border-radius: 5px; border: 2px solid #D9D9D9}
	}

	.card-head__instock{
		font: 14px $font-medium;
		color: $accent-color;
		a{border-bottom: 1px dashed $accent-color;}
		a:hover{color: $hover-color; border-bottom: 1px solid $hover-color;}
	}


}

.item-card__describe{
	margin-top: 30px;

	.describe__title{
		border-bottom: 2px solid $yellow;
		margin-bottom: 15px;
		span{ font-family: $font-medium; margin-bottom: 5px; display: block;}
	}

	.describe__content{ font-size: 14px;}
}

.item-card__left{margin-right: 25px;}

.item-card__right{
	width: 210px;	
	flex-shrink: 0;	
	padding-top: 30px; 

	.item-card__buttons{
		display: flex;
		flex-direction: column;

		.separator{
			position: relative;
			display: block;
			text-align: center;
			margin:7px 0;
			font: 12px $font-bold;
			color: $light-color;
			background-color:#fff;
			padding: 0 5px;
			z-index: 3;
			letter-spacing: 1px;

			&:before{
				@include pseudo($top: 50%,  $right: 0, $left: 0);
				height: 1px;
				background:$border-color;
				z-index: -1;
			}
		}
		
	}

	.item-card__blocks{
		border-top: 1px solid $border-color;
		margin-top: 20px;
		font-size: 12px;
		padding-top: 15px;

		.block-phone{
			display: block;
			color: $accent-color;
			text-decoration: underline;
			font-family: $font-medium;
		}

		.blocks-title{
			margin-bottom: 5px;
			font-family: $font-bold;
			line-height: 1.3;
		}

		ul{margin-left: 15px;}
	}
}