
.catalog-page{ 
	@include between;
	.catalogs-block{ 
		margin-bottom: 0;
		flex-grow: 1;
		&__title{
			span{color: $hover-color;}
			p{margin: 10px 0 0 0;}
		}

		&__filter{
			padding: 15px 25px;
			border-top: 1px solid $border-color;
			@include between;

			.filter-by{
				color: #2069C0;
				font-size: 13px;
				a{ margin-left: 3px;}
				a:hover{ text-decoration: underline;}
			}

			.show-filter{
				font-size: 13px;
				color: $light-color;
				span{ margin-right: 5px;}
			}
		}

		&__products{
			display: flex;
			flex-wrap: wrap;
		}

		.product-item{ width: 25%;}
	}
}

.sidebar{ 
	width: 230px; flex-shrink: 0; margin-right: 20px;
	&__category, &__brand{
		background:#fff;
		box-shadow: 0 2px 0 0 rgba(0,0,0,.1);
		padding: 15px 25px;
	}

	&__category{ margin-bottom: 20px;}
	&__title{ margin-bottom: 10px; }

	&__list{ 
		ul{list-style-type: none; line-height: 1.1;}
		ul li{ margin: 5px 0;}
		li a{ font-size: 13px; color: $light-color;}
		li a:hover{ text-decoration: underline;}
		li a.active{ font-family: $font-medium; color: $text-color;}
		
	}
}