/* links particles */
@import 'bourbon';
@import 'partials/base';

/* header */

.header{
	background: #fff;	box-shadow: 0 2px 0 0 rgba(0,0,0,.1);	position: relative;

	&-top{ display: flex; justify-content: space-between;}

	&-contact{ display: flex; align-items: center; flex-grow: 1;
	&__phone{ margin-right: 25px;}
		.fa{ margin-right: 10px; font-size: 22px;}
	}

	&__logo{ img{width: 260px;} flex-shrink: 0; margin: 10px 40px 10px 0;}
	
	&-panel{ display: flex; align-items: center;
		a{ display: flex; align-items: center; height: 100%; padding: 0 15px;}
	}
	
	&__basket{ border-left: 1px solid $border-color;border-right: 1px solid $border-color; height: 100%;
		&:hover{ background: #404040; color: #fff;}
	}
	&__login{ border-right: 1px solid $border-color; height: 100%; vertical-align: middle; position: relative; z-index: 1000;
		&:hover{ .header-panel__login-drop{ display: block; }background: #404040; color: #fff; }
		.btn{ width: 100%;}
	}

	&-nav{ display: flex; justify-content: space-between;
		&__menu{ @include menu; border-left: 1px solid $border-color;
		a{ text-transform: uppercase; font-size: 14px; padding: 15px 15px; display: block; &:hover{ background-color: #F7F7F7; }}
		}

		&__search{ flex-grow: 1; 

			.search-form{ position: relative; height: 100%;}

			input{ width: 100%; height: 100%; border: none; border-right: 1px solid $border-color; border-left: 1px solid $border-color; padding: 0 50px 0 15px; box-sizing: border-box;
				&:focus{ border-bottom: 2px solid #0096FF}}
			button.submit{ position: absolute; top: 50%; transform: translateY(-50%); right: 20px; color: #D9D9D9;}			
		}		
	}
}

.line{ width: 100%; height: 1px; background:$border-color;}

.header-panel__login-drop{ position: absolute; display: none; top: 55px; right: 0; z-index: 3; background: #404040; color: #fff; padding: 15px; font-size: 12px;
	input{ margin-bottom: 7px; border: none; color: #404040; padding: 5px 15px;font-size: 14px;}
	input[type=checkbox]{margin-right: 7px;}
	.sign{ font-size: 12px; text-align: left; margin-bottom: 7px; display: block;}
	.link-regist,
	.forget-pass{ font-size: 12px; color: $accent-color; text-align: center; display: block; &:hover{ text-decoration: underline;}}

	.btn.submit{ margin: 10px 0;}
 }

 /* Footer */

 .footer{
 	background:#fff;
 	padding: 30px 0;

 	&-nav{
 		@include between;
 		&__list{	@include menu(column); font-size: 13px; color: $light-color}
 		&__list li a:hover{text-decoration: underline;}
 		&__title{ margin-bottom: 10px; display: block;}
 		&__subscribe{ p{font-size: 12px; color: $light-color; line-height: 1.3}}
 	}

 	&-social{
 		font-size: 20px;
 		.fa{ margin-right: 15px; margin-bottom: 10px;}
 	}

 	&-form{
 		display: flex; 		
 		.btn{ margin-left: 10px;}
 		input{ border: 1px solid #CCCCCC; border-radius: 5px; padding: 0 15px;}
 	}

 	&-copyright{

		&__logo{
			font-size: 20px;
		}

 		&__describe{
			p{ margin-top: 0; font-size: 12px; color: $light-color;}
 		}
 	}
 	
 }

 /* slider */

 .slider{
 	position: relative;
 	margin-bottom: 30px;
 	&-item{

 		height: 400px;
 		background-size: cover;
 		background-repeat: no-repeat;
 		background-position: center center; 		
 	}
	
	.owl-dots{ display: flex; justify-content: center; margin-top: 15px;}
	.owl-dot{ width: 13px;height: 13px; background:#666666; border-radius: 50%; margin-right: 5px;
		&.active{ background:#000000;}
	}
	.owl-nav{ position: absolute; @include v-center; @include between; left: 0; right: 0;}
	.owl-prev{ background:url('../images/prev.png') no-repeat; height: 38px;width: 20px; margin-left: 15px;}
	.owl-next{ background:url('../images/next.png') no-repeat; height: 38px;width: 20px; margin-right: 15px;}

 }

 /* catalogs block */

.catalogs-block{
	background:#fff; margin-bottom: 25px; box-shadow: 0 2px 0 0 rgba(0,0,0,.1);display: flex; flex-direction: column;
	
	&__title{
		padding: 15px 25px;
		span:hover{ color: $hover-color; }
	}

	&__products{
		border-top: 1px solid $border-color;
	}

	.owl-nav{	position: absolute;top: -37px;right: 50px; display: flex;}
	.owl-prev{ width: 20px;height: 20px; background: url('../images/left-arrow.png'); background-size: 20px 20px;margin-right: 15px; opacity: .5;}
	.owl-next{ background: url('../images/right-arrow.png'); width: 20px; background-size: 20px 20px;
	height: 20px; opacity: .5;}

	.product-item{
		border-right: 1px solid $border-color;padding: 15px 15px 25px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		&__img{
			display: flex;
			justify-content: center;
			img {height: 150px; width: auto;}
		}

		&__badge{
			position: absolute;
    	right: 15px;
    	top: -2px;
    	img{width: 23px; }
		}

		&__describe{
			margin: 15px 0;
			line-height: 1.3;
			font-size: 15px;
			&:hover{ text-decoration: underline;     color: $hover-color; }
		}

		&__price{
			color: $light-color;
			margin-bottom: 10px;
			font-size: 14px;
		}
	}
}

/* include pages css */

@import 'pages/catalog';
@import 'pages/catalog-item';



/* include media css */

@import 'responsive/media-sm';
@import 'responsive/media-xs';