/* include bower plugins css */

@import "../../bower_components/bootstrap/bootstrap-grid.min";
@import "../../bower_components/normalize-css/normalize.css";
@import "../../bower_components/owl.carousel/dist/assets/owl.carousel.min.css";
@import "../../bower_components/owl.carousel/dist/assets/owl.theme.default.css";
@import "../../bower_components/swiper/dist/css/swiper.min.css";
@import "../../bower_components/uikit/css/uikit.min.css";
@import "../../bower_components/magnific-popup/dist/magnific-popup.css";



/************** Libs Css ********************* */

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
