extends layout/layout

block content

	.container
		.catalog-item-page

			.item-card

				.item-card__left
					.breadcrumb
						span.breadcrumb__title Товар в категории:
						ul.breadcrumb__links
							li: a(href="#") Главная
							li: a(href="#") Протеины						
							li.active ON Whey Protein 100%
					.card-head
						.card-head__img
							a(href="images/product2.jpg").image-popup-no-margins
								img(src="images/product2.jpg", alt="")
							<i class="fa fa-search-plus" aria-hidden="true"></i>
						.card-head__text
							.card-head__title
								span 100% Whey Gold Standard, 908 грамм
							.card-head__articul
								span.art Артикул: 249466299
								span.brand Бренд:
									a(href="#") Optimum Nutrition
							.card-head__price
								.price-money
									span Цена
									b 9900 тг.
								.price-quantity
									span Количество
									input(type="number" min="1" value="1")
								.price-total
									span Итого
									b 9900 тг.

							.card-head__instock
								a(href="№") Внимание, уточняйте наличие!
					.item-card__describe
						.describe__title
							span Описание
						.describe__content
							p.
								100% Whey Gold Standard - это чистый, настоящий сывороточный белок с минимальным содержанием жиров, насыщенных жиров, холестерина, лактозы и других углеводов.В действительности, это лучший продукт из доступных на рынке спортивного питания! С помощью сложных методов протеин может быть “изолирован” из сопровождающих его жиров, холестерина,лактозы и других нежелательных ингредиентов для получения порошка, который состоял бы на 90% из протеина.
							p Микрофильтрованный изолят сывороточного протеина - это главный ингредиент, он один уже способен показать, что Optimum Nutrition не думает о расходах, когда делает для Вас лучший продукт. Содержит больше изолята сывороточного белка – это самый чистый и самый дорогой источник сывороточного белка. Содержит низкомолекулярные пептиды сыворотки, благодаря которым протеин стал более быстродействующим! Содержит лактазу и аминоген – ферменты, улучшающие переваривание пищи, чтобы увеличить усвояемость белка и максимально снизить негативные реакции организма на лактозу, которую некоторые люди не переносят.
							p Подвергнут специальной обработке для быстрого приготовления и размешивания. Каждая порция новой формулы содержит еще больше биологически активных микрофракций сывороточного белка, включая альфалактоальбумин, гликомакропептиды, бета-лактоглобулин, гамма-иммуноглобулин (lgG), лактоферрин, лактопероксидазу и различные факторы роста. Более четырех граммов глютамина и более 5 граммов разветвленных аминокислот BCAA в каждой порции.



				.item-card__right
					.item-card__buttons
						a(href="#").btn Купить сейчас
						span.separator либо
						a(href="#").btn.btn--yellow Добавить в корзину

					.item-card__blocks
						.blocks-title
							span Доставка только по Алматы на следующий день
						ul
							li Самовызов из офиса
							li Курьером - <b>Бесплатно!</b>

					.item-card__blocks
						.blocks-title
							span Оплата заказа
						ul
							li Наличными при получении заказа
							li Банковской картой

					.item-card__blocks
						.blocks-title
							span Мы работаем:
						ul
							li Пн-Пт – с 10:00 до 19:00
							li Сб, Вс – выходные дни
						a(href="#").block-phone +7(727)973-68-20
						a(href="#").block-phone +7(727)973-68-20


			.catalogs-block
				.catalogs-block__title
					a(href="#") Похожие товары
				.catalogs-block__products
					.owl-carousel
							.product-item
								a(href="#").product-item__img
									img(src="images/product1.jpg", alt="product")
								a(href="#").product-item__describe
									| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
								span.product-item__price 5 000 тг.
								a(href="#").btn.btn--yellow В корзину

								.product-item__badge
									img(src="images/new.png", alt="new")

							.product-item
								a(href="#").product-item__img
									img(src="images/product2.jpg", alt="product")
								a(href="#").product-item__describe
									| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
								span.product-item__price 5 000 тг.
								a(href="#").btn.btn--yellow В корзину

								.product-item__badge
									img(src="images/new.png", alt="new")

							.product-item
								a(href="#").product-item__img
									img(src="images/product3.jpg", alt="product")
								a(href="#").product-item__describe
									| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
								span.product-item__price 5 000 тг.
								a(href="#").btn.btn--yellow В корзину

							.product-item
								a(href="#").product-item__img
									img(src="images/product4.jpg", alt="product")
								a(href="#").product-item__describe
									| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
								span.product-item__price 5 000 тг.
								a(href="#").btn.btn--yellow В корзину

								.product-item__badge
									img(src="images/new.png", alt="new")

							.product-item
								a(href="#").product-item__img
									img(src="images/product3.jpg", alt="product")
								a(href="#").product-item__describe
									| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
								span.product-item__price 5 000 тг.
								a(href="#").btn.btn--yellow В корзину

							.product-item
								a(href="#").product-item__img
									img(src="images/product4.jpg", alt="product")
								a(href="#").product-item__describe
									| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
								span.product-item__price 5 000 тг.
								a(href="#").btn.btn--yellow В корзину