extends layout/layout

block content

	.container
		.catalog-page

			aside.sidebar
				.sidebar__category
					.sidebar__title
						span Категории

					.sidebar__list
						ul
							li: a(href="#").active Протеины <span class="count">(25)</span>
							li: a(href="#") Гейнеры <span class="count">(31)</span>
							li: a(href="#") ВСАА <span class="count">(25)</span>
							li: a(href="#") Аминокислоты <span class="count">(8)</span>
							li: a(href="#") Креатины <span class="count">(11)</span>
							li: a(href="#") Витамины и минералы <span class="count">(4)</span>
							li: a(href="#") Жиросжигатели <span class="count">(5)</span>
							li: a(href="#") Энергетики <span class="count">(12)</span>
							li: a(href="#") Ночное востановление <span class="count">(0)</span>
							li: a(href="#") Жиры <span class="count">(2)</span>
							li: a(href="#") Батончики/ Печенье/ Джемы <span class="count">(7)</span>
							li: a(href="#") Суставы и Связки <span class="count">(5)</span>

				.sidebar__brand
					.sidebar__title
						span Бренды

					.sidebar__list
						ul
							li: a(href="#") Ultimate Nutrition
							li: a(href="#") Syntrax
							li: a(href="#") PUREPROTEIN
							li: a(href="#") Optimum Nutrition
							li: a(href="#") Muscle Pharm
							li: a(href="#") Gaspari
							li: a(href="#") DYMATIZE
							li: a(href="#") BSN
							li: a(href="#") MUTANT NUTRITION
							li: a(href="#") TWINLAB
							li: a(href="#") MHP
							li: a(href="#") BLENDER BOTTLE
			
			.catalogs-block
					.catalogs-block__title
						span Протеины
						p Протеин (белок) — самый главный компонент в рационе спортсмена, строительный материал для мышц. Дополнительный прием протеина в комплексе с правильной диетой увеличивает мышечную массу, снижает жировую прослойку и ускоряет восстановление от тренировок.
					.catalogs-block__filter
						.show-filter
							span Показать по: 
							select(name="show-filter")
								option(value="#") 20
								option(value="#") 40
								option(value="#") 60

						.filter-by
							a(href="#") Цена по возрастанию/
							a(href="#") Цена по убыванию/
							a(href="#") Новинки/
							a(href="#") Акции

					.catalogs-block__products
				
						.product-item
							a(href="#").product-item__img
								img(src="images/product1.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

							.product-item__badge
								img(src="images/new.png", alt="new")

						.product-item
							a(href="#").product-item__img
								img(src="images/product2.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

							.product-item__badge
								img(src="images/new.png", alt="new")

						.product-item
							a(href="#").product-item__img
								img(src="images/product3.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product4.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

							.product-item__badge
								img(src="images/new.png", alt="new")

						.product-item
							a(href="#").product-item__img
								img(src="images/product3.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product4.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product3.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product4.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product1.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

							.product-item__badge
								img(src="images/new.png", alt="new")

						.product-item
							a(href="#").product-item__img
								img(src="images/product2.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

							.product-item__badge
								img(src="images/new.png", alt="new")

						.product-item
							a(href="#").product-item__img
								img(src="images/product3.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product4.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

							.product-item__badge
								img(src="images/new.png", alt="new")

						.product-item
							a(href="#").product-item__img
								img(src="images/product3.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product4.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product3.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product4.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину