extends layout/layout

block content
	.container
		//Main slider
		.slider
			.owl-carousel
				.slider-item(style="background-image:url(images/slide1.jpg)")
				.slider-item(style="background-image:url(images/slide2.jpg)")
				.slider-item(style="background-image:url(images/slide3.jpg)")
		
		//catalogs block
		.catalogs-block

			.catalogs-block__title
				a(href="#") Новинки
			.catalogs-block__products
				.owl-carousel
						.product-item
							a(href="#").product-item__img
								img(src="images/product1.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

							.product-item__badge
								img(src="images/new.png", alt="new")

						.product-item
							a(href="#").product-item__img
								img(src="images/product2.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

							.product-item__badge
								img(src="images/new.png", alt="new")

						.product-item
							a(href="#").product-item__img
								img(src="images/product3.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product4.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

							.product-item__badge
								img(src="images/new.png", alt="new")

						.product-item
							a(href="#").product-item__img
								img(src="images/product3.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product4.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product3.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product4.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину
					

		.catalogs-block
			.catalogs-block__title
				a(href="#") Популярные товары
			.catalogs-block__products
				.owl-carousel
					.product-item
						a(href="#").product-item__img
							img(src="images/product1.jpg", alt="product")
						a(href="#").product-item__describe
							| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
						span.product-item__price 5 000 тг.
						a(href="#").btn.btn--yellow В корзину

						.product-item__badge
								img(src="images/hit.png", alt="hit")

					.product-item
						a(href="#").product-item__img
							img(src="images/product2.jpg", alt="product")
						a(href="#").product-item__describe
							| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
						span.product-item__price 5 000 тг.
						a(href="#").btn.btn--yellow В корзину

						.product-item__badge
								img(src="images/hit.png", alt="hit")

					.product-item
						a(href="#").product-item__img
							img(src="images/product3.jpg", alt="product")
						a(href="#").product-item__describe
							| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
						span.product-item__price 5 000 тг.
						a(href="#").btn.btn--yellow В корзину

					.product-item
						a(href="#").product-item__img
							img(src="images/product4.jpg", alt="product")
						a(href="#").product-item__describe
							| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
						span.product-item__price 5 000 тг.
						a(href="#").btn.btn--yellow В корзину

		.catalogs-block
			.catalogs-block__title
				a(href="#") Акции
			.catalogs-block__products
				.owl-carousel
					.product-item
						a(href="#").product-item__img
							img(src="images/product1.jpg", alt="product")
						a(href="#").product-item__describe
							| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
						span.product-item__price 5 000 тг.
						a(href="#").btn.btn--yellow В корзину

						.product-item__badge
								img(src="images/discount.png", alt="discount")

					.product-item
						a(href="#").product-item__img
							img(src="images/product2.jpg", alt="product")
						a(href="#").product-item__describe
							| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
						span.product-item__price 5 000 тг.
						a(href="#").btn.btn--yellow В корзину

					.product-item
						a(href="#").product-item__img
							img(src="images/product3.jpg", alt="product")
						a(href="#").product-item__describe
							| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
						span.product-item__price 5 000 тг.
						a(href="#").btn.btn--yellow В корзину

						.product-item__badge
								img(src="images/discount.png", alt="discount")

					.product-item
						a(href="#").product-item__img
							img(src="images/product4.jpg", alt="product")
						a(href="#").product-item__describe
							| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
						span.product-item__price 5 000 тг.
						a(href="#").btn.btn--yellow В корзину