//js files
script(src='js/vendor.js')
script(src="https://use.fontawesome.com/d419eefe85.js")
script(src='js/main.js')

//footer

footer.footer
	.container
		.footer-nav
			.footer-nav__nav
				span.footer-nav__title Полезно знать
				ul.footer-nav__list
					li: a(href="#") О магазине
					li: a(href="#") О доставке и оплате
					li: a(href="#") Обмен и возврат
					li: a(href="#") Информация о спортпите					
			.footer-nav__help
				span.footer-nav__title Помощь и поддержка
				ul.footer-nav__list
					li: a(href="#") Как сделать заказ?
					li: a(href="#") Что дает нам регистрация?
					li: a(href="#") Написать нам
					li: a(href="#") Контакты

			.footer-nav__subscribe
				span.footer-nav__title Подписка
				.footer-social
					a(href="#") <i class="fa fa-instagram" aria-hidden="true"></i>
					a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
					a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
					a(href="#") <i class="fa fa-vk" aria-hidden="true"></i>
				form.footer-form
					input(type="text" placeholder="Введите e-mail")
					button.btn.btn--light.submit Подписаться
				p Подпишитесь на самые свежие новости и <br/>специальные предложения от Михалыча!

		.footer-copyright
			.footer-copyright__logo
				<i class="fa fa-cc-visa" aria-hidden="true"></i>
				<i class="fa fa-cc-mastercard" aria-hidden="true"></i>
			.footer-copyright__describe
				p Mikhalych.kz – интернет магазин автотоваров: масла, автохимия, автомобильные лампочки, фильтры, авто аксессуары, комплектующие. © 2016 Примечание! Mikhalych.kz работает в beta-режиме. Если вы нашли где-то ошибку или неточность в описании товара, сообщите нам, пожалуйста.