// header
.header
		.header-top.container
			a(href="#").header__logo
				img(src="images/logo.png", alt="logo")
			.header-contact
				.header-contact__phone
					<i class="fa fa-phone" aria-hidden="true"></i>
					span +7 (702) 999-99-99
				.header-contact__whatsapp
					<i class="fa fa-whatsapp" aria-hidden="true"></i>
					span +7 (702) 999-99-99
			.header-panel
				.header__basket
					a(href="#")<i class="fa fa-shopping-cart" aria-hidden="true"></i>					
										
				.header__login
					a(href="#")<i class="fa fa-user" aria-hidden="true"></i>
					.header-panel__login-drop
						span.sign Вход на сайт
						form(action="#" login-form)
							input(type="text" placeholder="Ваша почта")
							input(type="password" placeholder="Ваш пароль" )
							input(type="checkbox")
							span Запомнить пароль
							button(href="#").submit.btn Вход
							a(href="#" ).link-regist Зарегистрироваться
							a(href="#" ).forget-pass Забыли пароль?
		
		.line
		.header-nav.container
			ul.header-nav__menu
				li: a(href="#") Протеины
				li: a(href="#") Гейнеры
				li: a(href="#") Аминокислоты
				li: a(href="#") Витамины и минералы
				li: a(href="#") Аксессуары
				

			.header-nav__search
				form(action="#").search-form
					input(type="text" placeholder="Поиск...")
					button.submit <i class="fa fa-search" aria-hidden="true"></i>



