doctype
html
	head
		meta(charset = 'utf-8')
		meta(name="description" content="Aidar FrontEnd")
		meta(name="author" content="Aidar")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet" href="css/vendor.css")
		link(rel="stylesheet" href="css/main.css")
		title Shop
	body

		.wrapper

			include header

			.main
				block content

			include footer

